# Web Framework
fastapi==0.111.0
uvicorn[standard]==0.22.0
python-multipart==0.0.9

# Database
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9

# Background Tasks
redis==5.0.4
rq==1.16.2

# Cloud & Config
google-cloud-storage==2.16.0
google-cloud-secret-manager==2.19.0
python-decouple==3.8
google-cloud-aiplatform==1.47.0
google-auth==2.29.0
requests==2.31.0
google-generativeai==0.8.3

# Image
Pillow==10.3.0
rembg>=2.0.55
onnxruntime
